.dictionary-page {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    height: 100%;
    .left-page{
        padding-right: 5px;
        border-right:1px solid ;
        width: 15%;
    }
    .right-page {
        width: 85%;
    }
}