.dictionary-page {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    height: 100%;
    .left-page{
        padding-right: 5px;
        min-width: 250px;
    }
    .right-page {
        width: 85%;
    }
}