.order-detail {
  display: flex;
  column-gap: 50px;
  justify-content: center;
  margin-top: 20px;
  .detail-list{ 
    min-width: 600px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    
    .item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: auto;
      border-radius: 6px;
      column-gap: 10px;
      padding: 10px;
      border: 2px solid lightgrey;
      background-color: #fff;
      &:hover{
        scale: 1.1;
        background-color: rgba(26, 164, 200, .2);
      }
      .small-img{
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 80px;
        width: 80px;
      }
      .product-name {
        width: 50%;
      }
      .price {
        min-width: 90px;
        text-align: center;
      }
      .remove {
        background-color: transparent;
        border-radius: 14px;
        color: red;
        font-weight: 700;
        width: 130px;
        cursor: pointer;
      }
    }
  }
  .total-order {
    min-width: 600px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    background-color: #fff;
    padding: 10px;
    .date-row {
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      .date-input {
        width: calc(50% - 10px);
      }
    }
    .amount-row{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .user-name{
      width: 50%;
    }
    .phone {
      width: 50%;
    }
    .description {
      .row-input{
        height: 100px;
      }
    }
  }
}