.context-menu {
    position: fixed;
    background: white;
    z-index: 999;
    outline: none;
    width: 150px;
    display: flex;
    flex-direction: column;
    border-radius: 3.5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .16);
    padding:3px;
}
.context-menu-option {
    height: 35px;
    align-items: center;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}
.context-menu-option:hover {
    background-color: rgba(26, 164, 200, .2);
}